.title {
    font-family: Encode-Sans-Expanded;
    text-align: center;
    font-size: 44px;
    color: white;
}

.text0 {
    color: white;
    font-size: 27px;
    margin-top: -500px;
    margin-left: 470px;
    margin-right: 20%
}

body {
    background-image: url("background.png");
  
    min-height: 500px;
    height: 50%;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    /*font-weight: bold;*/
    font-family: "Encode Sans Expanded";
}

.buttons {
    position: absolute;
    left: 39%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.youtube {
    background-color: red;
    border-radius: 8px;
    color: white;
    margin-right: 10px;
    margin-top: 0px;

    transition-duration: 0.2s;
}

.youtube:hover {
    background-color: white;
    color: red;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.discordbutton {
    background-color: #5865F2;
    border-radius: 8px;
    color: white;
    margin-top: 0px;

    transition-duration: 0.2s;
}

.discordbutton:hover {
    background-color: white;
    color: #5865F2;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.twitter {
    background-color: #55acee;
    border-radius: 8px;
    color: white;
    margin: 10px;
    margin-top: 0px;

    transition-duration: 0.2s;
}

.twitter:hover {
    background-color: white;
    color: #55acee;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.discord {
    margin-left: 5%;
    margin-top: 100px;
}

.tetrachannel {
    position: fixed;
    top: 88%;
    float: left;
    margin-left: 5px;
}

.quarterzone {
    position: fixed;
    top: 88%;
    float: left;
    margin-left: 110px;
}

.latestVideoEmbed {
    margin-left:510px
}